# 1. Relational Operators

## 1.1 Equality

The most basic form of comparison is equality.

In [4]:
# Comparison of logicals
TRUE == FALSE

# Comparison of numerics
-6*14 != 17-101

# Comparison of character strings
'useR' == 'user'

# Compare a logical with a numeric
TRUE == 1

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

Since `TRUE` coerces to `1` under the hood, `TRUE` == `1` evaluates to `TRUE`. 
>Make sure not to mix up `==` ***(comparison)*** and `=` ***(assignment)***, `==` is what need to check the equality of R objects

## 1.2 Greater and less than

Apart from equality operators, Filip also introduced the less than and greater than operators: `<` and `>`. You can also add an equal sign to express *less than or equal to* or *greater than or equal to*, respectively.

> Remember that for string comparison, R determines the greater than relationship based on alphabetical order. Also, keep in mind that `TRUE` is treated as `1` for arithmetic, and `FALSE` is treated as `0`. Therefore, `FALSE` `<` `TRUE` is `TRUE`.

In [2]:
# Comparison of numerics
-6 * 5 + 2 >= -10+1

# Comparison of character strings
'raining'<='raining dogs'

# Comparison of logicals
TRUE > FALSE

[1] FALSE

[1] TRUE

[1] TRUE

## 1.3 Compare Vectors

R's relational operators also work on vectors.

In [3]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15

# Quiet days
linkedin <= 5

# LinkedIn more popular than Facebook
linkedin > facebook

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

LinkedIn profile was pretty popular on the sixth day, but less so on the fourth and fifth day.

## 1.4 Compare Matrices

In [6]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE

# 2. Logical Operators